
<nav class="navbar navbar-dark bg-primary justify-content-center">

  <span class="navbar-brand mb-0 h1">Water Management System</span>
</nav>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<h3>Total Water:- {{total_water}} Litres</h3>
<h3>Total Bill:-Rs {{total_bill}} </h3>

<h3>Corporation water:- Rs {{corporation_bill}}</h3>
<h3>Borewell water Bill:- Rs {{borewell_bill}}</h3>
<h3>Guests:- {{guest}}</h3>
<h3>TankerBill :- {{tanker_bill}}</h3>
<h4>Ratio:- {{corporation_ratio}} : {{borewell_ratio}} </h4>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>